In [101]:
import re
import pandas as pd
import os

In [102]:
df = pd.read_csv('X_trainGBM.csv', index_col=0)
df.head()

,TargetName,TMA 27 R1 | 001 | Geometric Segment,TMA 27 R1 | 002 | Geometric Segment,TMA 27 R1 | 003 | Geometric Segment,TMA 27 R1 | 004 | Geometric Segment,TMA 27 R1 | 005 | Geometric Segment,TMA 27 R1 | 006 | Geometric Segment,TMA 27 R1 | 007 | Geometric Segment,TMA 27 R1 | 008 | Geometric Segment,TMA 27 R1 | 009 | Geometric Segment,...,TMA 27 R4 (1) | 047 | Geometric Segment,TMA 27 R4 (1) | 048 | Geometric Segment,TMA 27 R4 (1) | 049 | Geometric Segment,TMA 27 R4 (1) | 050 | Geometric Segment,TMA 27 R4 (1) | 051 | Geometric Segment,TMA 27 R4 (1) | 052 | Geometric Segment,TMA 27 R4 (1) | 053 | Geometric Segment,TMA 27 R4 (1) | 054 | Geometric Segment,TMA 27 R4 (1) | 055 | Geometric Segment,TMA 27 R4 (1) | 056 | Geometric Segment
0,ATP7B,49.983944,46.519148,51.213741,45.655397,60.557470,49.202945,71.567919,63.148164,39.246924,...,59.639933,65.177927,51.553162,53.868326,47.937003,56.538656,63.872444,55.789166,55.107298,46.889327
1,ERN1,60.775932,49.501144,42.021531,50.591115,49.547021,53.675940,51.119942,75.777797,41.555566,...,67.393124,85.625904,61.257287,56.176969,51.312848,69.420882,59.255159,62.551489,52.960260,48.123256
2,KRT74,31.239965,34.591161,26.920043,44.421467,39.637617,32.801963,71.567919,54.728409,39.246924,...,50.097544,58.787934,48.520623,40.016471,52.663186,47.234827,56.176969,48.463316,30.774205,40.719678
3,SPECC1L,46.007948,47.115547,43.991290,33.316100,45.142841,38.765956,30.671965,42.098776,32.320996,...,48.904745,56.870936,53.979193,44.633756,46.586665,51.528902,54.637874,53.535058,52.960260,62.313447
4,FOXJ1,45.439949,54.272339,55.153259,59.228623,67.163740,38.765956,40.895954,25.259266,50.790136,...,50.693943,53.036940,57.011732,53.098779,49.287341,52.960260,44.633756,56.352692,20.754697,27.763417

In [103]:
rna_of_interest = ['CD79B', 'MAP2K3', 'IMPDH1', 'SLC16A3', 'MPZL3', 'APOBR']
df_of_interest = df[df['TargetName'].isin(rna_of_interest)]

In [104]:
df_of_interest

,TargetName,TMA 27 R1 | 001 | Geometric Segment,TMA 27 R1 | 002 | Geometric Segment,TMA 27 R1 | 003 | Geometric Segment,TMA 27 R1 | 004 | Geometric Segment,TMA 27 R1 | 005 | Geometric Segment,TMA 27 R1 | 006 | Geometric Segment,TMA 27 R1 | 007 | Geometric Segment,TMA 27 R1 | 008 | Geometric Segment,TMA 27 R1 | 009 | Geometric Segment,...,TMA 27 R4 (1) | 047 | Geometric Segment,TMA 27 R4 (1) | 048 | Geometric Segment,TMA 27 R4 (1) | 049 | Geometric Segment,TMA 27 R4 (1) | 050 | Geometric Segment,TMA 27 R4 (1) | 051 | Geometric Segment,TMA 27 R4 (1) | 052 | Geometric Segment,TMA 27 R4 (1) | 053 | Geometric Segment,TMA 27 R4 (1) | 054 | Geometric Segment,TMA 27 R4 (1) | 055 | Geometric Segment,TMA 27 R4 (1) | 056 | Geometric Segment
1432,MPZL3,56.799936,72.164319,50.557154,74.035779,55.052246,68.585923,76.679914,92.617308,46.172851,...,96.616691,91.376897,92.795692,94.654345,74.268596,77.293353,83.880680,81.147877,47.950506,58.611658
5453,APOBR,43.735951,31.609164,42.678117,51.825045,36.334482,38.765956,66.455925,46.308654,36.938281,...,44.729950,42.812952,35.783960,45.403304,37.134298,48.666185,38.477376,43.391573,40.793714,33.933065
9930,MAP2K3,81.791908,75.146315,73.537679,66.632201,64.961650,64.112928,102.239885,50.518531,66.950634,...,72.164319,65.816926,75.206966,60.024707,73.593427,62.264090,53.098779,53.535058,93.753974,89.459899
11104,IMPDH1,103.375884,112.719473,103.740654,69.100060,84.780458,89.459899,61.343931,67.358042,80.802490,...,81.110309,95.210893,72.780935,90.806607,79.669948,79.440391,79.263395,78.330243,100.910766,91.310794
12443,SLC16A3,75.543915,73.953517,72.881092,145.603698,128.822255,84.986904,107.351879,50.518531,73.876562,...,90.652698,83.069907,67.928873,81.572037,73.593427,96.616691,95.423893,92.418416,251.203397,204.832321
12647,CD79B,148.247833,152.678228,122.781660,144.369769,156.348378,123.752861,81.791908,96.827185,115.432128,...,101.387886,83.069907,91.582677,95.423893,83.045793,100.910766,99.271630,82.274931,71.567919,61.696482

In [105]:
df_of_interest.to_csv('X_trainGBM_of_interest.csv', index=False)

In [106]:
df_y = pd.read_excel('Only_Image_Y.xlsx')
df_y.head()

,SegmentDisplayName,CoreID,Tumor_Type,PtID,Sex,Age,Dx,Pri_Rec,IDH,Block,Row,Column
0,TMA 27 R1 | 007 | Geometric Segment,2,Invasive Edge,2,F,49.895,GBM,Primary,ND,NP-11-17045-B3,1,3
1,TMA 27 R1 | 015 | Geometric Segment,3,Pseudopalisading Necrosis,2,F,49.895,GBM,Recurrent,ND,NP-14-31147-A1,1,4
2,TMA 27 R1 | 028 | Geometric Segment,4,Pseudopalisading Necrosis,2,F,49.895,GBM,Recurrent,ND,NP-14-31147-A1,1,5
3,TMA 27 R1 | 038 | Geometric Segment,6,Cellular Tumor,3,F,66.683,GBM,Primary,ND,NP-13-26842-B1,1,7
4,TMA 27 R1 | 048 | Geometric Segment,7,Invasive Edge,3,F,66.683,GBM,Primary,ND,NP-13-26842-B1,1,8

In [107]:
df_train = pd.DataFrame(columns=rna_of_interest)
df_train.head()

Empty DataFrame
Columns: [CD79B, MAP2K3, IMPDH1, SLC16A3, MPZL3, APOBR]
Index: []

In [116]:
df_train['path'] = os.listdir('data')
df_train.head()

TypeError: can only concatenate str (not "list") to str

In [109]:
CD_arr = []
MAP_arr = []
IMP_arr = []
SLC_arr = []
MPZ_arr = []
APO_arr = []
segment_arr = []

for img in os.listdir('data'):
    #coreid is everything between coreID and .tif
    core_ID = re.search(r'CoreID(.*?).tif', img).group(1)
    print(core_ID)
    segment = df_y.query('CoreID == {}'.format(core_ID))['SegmentDisplayName'].values
    print(segment)
    if len(segment) > 0:
        MPZ_val = df_of_interest[segment].values[0]
        MPZ_arr.append(MPZ_val[0])

        APO_val = df_of_interest[segment].values[1]
        APO_arr.append(APO_val[0])

        MAP_val = df_of_interest[segment].values[2]
        MAP_arr.append(MAP_val[0])

        IMP_val = df_of_interest[segment].values[3]
        IMP_arr.append(IMP_val[0])

        SLC_val = df_of_interest[segment].values[4]
        SLC_arr.append(SLC_val[0])

        CD_val = df_of_interest[segment].values[5]
        CD_arr.append(CD_val[0])

101
['TMA 27 R3 | 007 | Geometric Segment']
102
['TMA 27 R3 | 022 | Geometric Segment']
105
['TMA 27 R3 (1) | 007 | Geometric Segment']
107
['TMA 27 R3 (1) | 021 | Geometric Segment']
108
['TMA 27 R3 (1) | 028 | Geometric Segment']
111
['TMA 27 R3 | 025 | Geometric Segment']
114
['TMA 27 R3 (1) | 010 | Geometric Segment']
119
['TMA 27 R3 | 013 | Geometric Segment']
12
['TMA 27 R1 | 016 | Geometric Segment']
120
['TMA 27 R3 | 028 | Geometric Segment']
122
['TMA 27 R3 (1) | 001 | Geometric Segment']
123
['TMA 27 R3 (1) | 013 | Geometric Segment']
124
['TMA 27 R4 (1) | 001 | Geometric Segment']
125
['TMA 27 R4 (1) | 010 | Geometric Segment']
126
['TMA 27 R4 (1) | 019 | Geometric Segment']
127
['TMA 27 R4 (1) | 028 | Geometric Segment']
128
['TMA 27 R4 (1) | 033 | Geometric Segment']
129
['TMA 27 R4 (1) | 039 | Geometric Segment']
13
['TMA 27 R1 | 031 | Geometric Segment']
130
['TMA 27 R4 (1) | 043 | Geometric Segment']
131
['TMA 27 R4 (1) | 044 | Geometric Segment']
132
['TMA 27 R4 (1) | 050 | Geometric Segment']
133
['TMA 27 R4 (1) | 006 | Geometric Segment']
135
['TMA 27 R4 (1) | 022 | Geometric Segment']
138
['TMA 27 R4 (1) | 042 | Geometric Segment']
140
['TMA 27 R4 (1) | 047 | Geometric Segment']
141
['TMA 27 R4 (1) | 052 | Geometric Segment']
142
['TMA 27 R4 (1) | 007 | Geometric Segment']
143
['TMA 27 R4 (1) | 016 | Geometric Segment']
144
['TMA 27 R4 (1) | 025 | Geometric Segment']
145
['TMA 27 R4 (1) | 031 | Geometric Segment']
146
['TMA 27 R4 (1) | 036 | Geometric Segment']
15
['TMA 27 R1 | 040 | Geometric Segment']
150
['TMA 27 R4 (1) | 055 | Geometric Segment']
16
['TMA 27 R1 | 051 | Geometric Segment']
2
['TMA 27 R1 | 007 | Geometric Segment']
21
['TMA 27 R1 | 019 | Geometric Segment']
22
['TMA 27 R1 | 034 | Geometric Segment']
23
['TMA 27 R1 | 037 | Geometric Segment']
24
['TMA 27 R1 | 043 | Geometric Segment']
25
['TMA 27 R1 | 054 | Geometric Segment']
26
['TMA 27 R1 | 064 | Geometric Segment']
28
['TMA 27 R1 | 001 | Geometric Segment']
29
['TMA 27 R1 | 009 | Geometric Segment']
3
['TMA 27 R1 | 015 | Geometric Segment']
30
['TMA 27 R1 | 024 | Geometric Segment']
33
['TMA 27 R1 | 047 | Geometric Segment']
34
['TMA 27 R1 | 057 | Geometric Segment']
35
['TMA 27 R1 | 065 | Geometric Segment']
37
['TMA 27 R1 | 004 | Geometric Segment']
38
['TMA 27 R1 | 012 | Geometric Segment']
39
['TMA 27 R1 | 025 | Geometric Segment']
4
['TMA 27 R1 | 028 | Geometric Segment']
41
['TMA 27 R2 | 013 | Geometric Segment']
42
['TMA 27 R2 | 026 | Geometric Segment']
44
['TMA 27 R2 | 045 | Geometric Segment']
46
['TMA 27 R2 | 062 | Geometric Segment']
47
['TMA 27 R2 | 071 | Geometric Segment']
48
['TMA 27 R2 | 079 | Geometric Segment']
49
['TMA 27 R2 | 001 | Geometric Segment']
50
['TMA 27 R2 | 014 | Geometric Segment']
51
['TMA 27 R2 | 027 | Geometric Segment']
52
['TMA 27 R2 | 036 | Geometric Segment']
53
['TMA 27 R2 | 047 | Geometric Segment']
54
['TMA 27 R2 | 053 | Geometric Segment']
55
['TMA 27 R2 | 065 | Geometric Segment']
58
['TMA 27 R2 | 004 | Geometric Segment']
59
['TMA 27 R2 | 017 | Geometric Segment']
6
['TMA 27 R1 | 038 | Geometric Segment']
60
['TMA 27 R2 | 030 | Geometric Segment']
61
['TMA 27 R2 | 039 | Geometric Segment']
62
['TMA 27 R2 | 050 | Geometric Segment']
63
['TMA 27 R2 | 056 | Geometric Segment']
65
['TMA 27 R2 | 073 | Geometric Segment']
66
['TMA 27 R2 | 082 | Geometric Segment']
67
['TMA 27 R2 | 007 | Geometric Segment']
68
['TMA 27 R2 | 020 | Geometric Segment']
69
['TMA 27 R2 | 033 | Geometric Segment']
7
['TMA 27 R1 | 048 | Geometric Segment']
70
['TMA 27 R2 | 042 | Geometric Segment']
72
['TMA 27 R2 | 059 | Geometric Segment']
73
['TMA 27 R2 | 068 | Geometric Segment']
74
['TMA 27 R2 | 076 | Geometric Segment']
75
['TMA 27 R2 | 085 | Geometric Segment']
76
['TMA 27 R2 | 010 | Geometric Segment']
77
['TMA 27 R2 | 023 | Geometric Segment']
79
['TMA 27 R2 | 044 | Geometric Segment']
8
['TMA 27 R1 | 059 | Geometric Segment']
83
['TMA 27 R3 | 001 | Geometric Segment']
84
['TMA 27 R3 | 016 | Geometric Segment']
85
['TMA 27 R3 | 031 | Geometric Segment']
87
['TMA 27 R3 (1) | 004 | Geometric Segment']
88
['TMA 27 R3 (1) | 015 | Geometric Segment']
89
['TMA 27 R3 (1) | 018 | Geometric Segment']
90
['TMA 27 R3 (1) | 024 | Geometric Segment']
92
['TMA 27 R3 | 004 | Geometric Segment']
93
['TMA 27 R3 | 019 | Geometric Segment']
94
['TMA 27 R3 | 034 | Geometric Segment']
99
['TMA 27 R3 (1) | 025 | Geometric Segment']

In [ ]:
print(len(MPZ_arr))
print(len(APO_arr))
print(len(MAP_arr))
print(len(IMP_arr))
print(len(SLC_arr))
print(len(CD_arr))

In [112]:
df_train.head()

        CD79B MAP2K3 IMPDH1 SLC16A3 MPZL3 APOBR           path
0   85.881503    NaN    NaN     NaN   NaN   NaN  CoreID101.tif
1   84.038087    NaN    NaN     NaN   NaN   NaN  CoreID102.tif
2   82.927907    NaN    NaN     NaN   NaN   NaN  CoreID105.tif
3   93.960336    NaN    NaN     NaN   NaN   NaN  CoreID107.tif
4  113.968536    NaN    NaN     NaN   NaN   NaN  CoreID108.tif

In [113]:
df_train['CD79B'] = CD_arr
df_train['MAP2K3'] = MAP_arr
df_train['IMPDH1'] = IMP_arr
df_train['SLC16A3'] = SLC_arr
df_train['MPZL3'] = MPZ_arr
df_train['APOBR'] = APO_arr

In [114]:
df_train.head()

,CD79B,MAP2K3,IMPDH1,SLC16A3,MPZL3,APOBR,path
0,85.881503,72.668964,86.982548,71.567919,102.397177,56.153291,CoreID101.tif
1,84.038087,65.603926,85.122450,101.387886,100.845705,50.422852,CoreID102.tif
2,82.927907,70.431921,100.535887,130.071854,89.175900,52.823941,CoreID105.tif
3,93.960336,72.446053,92.204068,66.299116,74.202321,39.076962,CoreID107.tif
4,113.968536,73.458393,94.793735,49.152307,54.013524,28.627168,CoreID108.tif

In [115]:
df_train.to_csv('df_train.csv', index=False)